@model IEnumerable<MyApp.Models.User>

<div class="d-flex mb-4">
    <form asp-action="Index" method="get">
        <label for="search">Hitta användare</label>
        @* Andra border color på input fältet när man klickat i den samt ändra storleken på fältet *@
        <input class="ms-2 border-0 bg-light" style="width: 200px;" type="search" id="search" name="query" placeholder="Sök användare..." />
        @*Flytta på sökikonen*@
        <button class="ms-2 border-0" type="submit" aria-label="Sök">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 14 14">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </button>
    </form>
</div>

@foreach (var item in Model)
{
    @if(item.Visibility == true)
    {
        <h3>@item.Name</h3>
        <div class="d-flex" style="width: 90%; margin-bottom: 20px;">
            <div class="bg-light p-2" style="width: 47%; height: 300px; margin-right: 6%;">
                <h4>CV</h4>
            </div>
            <div class="bg-light p-2" style="width: 47%; height: 300px;">
                <h4>Senaste projekt</h4>
            </div>
        </div>
        <div style="width: 90%; text-align: right;">
            <button class="btn btn-light">Se profil</button>
        </div>
    }
}

