html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* PROJEktLISTNING */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 24px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 16px;
    background-color: #f5f5f5;
    position: relative;
}

.project-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    position: static;
}

    .project-card-header a {
        font-weight: bold;
        text-decoration: none;
    }

.project-add {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
}

.project-card-footer {
    margin-top: 12px;
    font-size: 14px;
}

.project-edit {
    display: inline-block;
    margin-top:8px;
    font-size: 14px;
    text-decoration: underline;
}

.edit-project-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
}

    .edit-project-btn:hover {
        background-color: #e0e0e0;
        color: #000;
    }

