@model MyApp.Models.Project

@{
    ViewData["Title"] = "Skapa-projekt";
}

<div class="container mt-5" style="max-width: 800px;">
    <h2 class ="text-center mb-5"> Skapa ett projekt</h2>
    
    @if (ViewBag.SuccessMessage != null)
    {
        <div class="row mb-3">
            <div class="col-12">
                <div class="alert alert-success alert-dismissible show text-center border-0" role="alert "style="border-radius: 6px; padding: 10px;">
                    @ViewBag.SuccessMessage
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;  font-size: 0.8rem; padding: 0.5rem;"></button>
                </div>
            </div> 
        </div>
    }

    <!-- Fyller i info om projektet -->
    <form asp-action="Add" method="post">

        <div class="row mb-3 align-items-center">
            <label class="col-md-3 col-form-label">Titel*</label>
            <div class="col-md-9">
                <input asp-for="Title" class="form-control border-0" style="background-color: #dcdcdc; height: 45px;" />
                <span asp-validation-for="Title" class="text-danger small"></span>
            </div>
        </div>

        <div class="row mb-3 align-items-start">
            <label class="col-md-3 col-form-label">Beskrivning*</label>
            <div class="col-md-9">
                <textarea asp-for="Description" class="form-control border-0" style="background-color: #dcdcdc;" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger small"></span>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label class="col-md-3 col-form-label">Programmeringsspråk*</label>
            <div class="col-md-9">
                <input asp-for="CodeLanguage" class="form-control border-0" style="background-color: #dcdcdc; height: 45px;" />
                <span asp-validation-for="CodeLanguage" class="text-danger small"></span>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label class="col-md-3 col-form-label">Startdatum*</label>
            <div class="col-md-9">
                <input asp-for="StartDate" type="date" class="form-control border-0" style="background-color: #dcdcdc; height: 45px;" />
                <span asp-validation-for="StartDate" class="text-danger small"></span>
            </div>
        </div>

        <div class="row mb-3 align-items-center">
            <label class="col-md-3 col-form-label">Skapad av:</label>
            <div class="col-md-9">
                <input typeof="text" value="@User.Identity.Name" class="form-control border-0" style="background-color: #dcdcdc; height: 45px;" readonly />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 text-center">
                <button type="submit" class="btn px-5 py-2" style="background-color: #c0c0c0; border: none; font-size: 1.1rem;">Spara projekt</button>
            </div>
        </div>
    </form>
</div>
